@font-face {
  font-family: 'GFLight';
  src: url('https://raw.githubusercontent.com/Reiii3/source-plugin/refs/heads/main/font/gflight.ttf') format('woff2');
}

@font-face {
  font-family: 'GFBold';
  src: url('https://raw.githubusercontent.com/Reiii3/source-plugin/refs/heads/main/font/gfbold.ttf') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
}

.layout-menu {
  margin-top: 70px;
  padding: 0 10px 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header {
  background-color: #303030;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header h1 {
  color: #ccc;
  font-size: 20px;
  font-family: 'GFBold', sans-serif;
}

.infor-list {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
}

.layout-info {
  background-color: #202020;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.layout-info h2 {
  font-size: 15px;
  color: white;
  font-family: 'GFBold', sans-serif;
}

.layout-info p {
  font-size: 10px;
  color: #aaa;
  font-family: 'GFBold', sans-serif;
}

.layout-panel-control {
  background-color: #202020;
  padding: 12px;
  border-radius: 8px;
}

.layout-panel-control h2 {
  font-size: 15px;
  color: white;
  font-family: 'GFBold', sans-serif;
  margin-bottom: 5px;
}

.layout-panel-control p {
  font-size: 8px;
  color: #aaa;
  font-family: 'GFBold', sans-serif;
}

.button-layout {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.button-layout button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  color: #ddd;
  font-family: 'GFBold', sans-serif;
  transition:ease-in-out 0.5s;
}

.button-layout button:nth-child(1) {
  background-color: #2183fb;
}
.button-layout button:nth-child(1):hover {
  background-color: #0470f9;
}

.button-layout button:nth-child(2) {
  background-color: #fb3030;
}
.button-layout button:nth-child(2) {
  background-color: #ce0000;
}

.button-layout input {
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.layout-current-info {
  background-color: #252525;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 2px;
}

.layout-current-info p:nth-child(2) {
  color: #27fff7;
}







.switch {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: inline-block;
  width: 9.2vw;
  /* Adjusted width for better appearance */
  height: 4.5vw;
  /* Adjusted height to maintain a good aspect ratio */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #464646;
  transition: 0.3s;
  border-radius: 3vw;
  /* Adjusted border radius for the slider */
}

.slider:before {
  position: absolute;
  content: "";
  height: 3.5vw;
  /* Adjusted height of the slider knob */
  width: 3.5vw;
  /* Adjusted width of the slider knob */
  border-radius: 50%;
  left: 0.4vw;
  /* Adjusted position inside the slider */
  bottom: 0.6vw;
  /* Adjusted position inside the slider */
  background-color: #aaa;
  transition: 0.3s;
  transform: scale(0.8);
}

input:checked+.slider {
  background-color: #7a94ed;
}

input:checked+.slider:before {
  background-color: white;
  transform: translateX(4.9vw) scale(0.9);
  /* Adjusted to move the knob fully to the right */
}

.block-area-spiner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: black;
  opacity: 0.9;
  transition: opacity 0.2s;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.spiner {
  position: relative;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  /* Border dasar transparan */
  border-radius: 50%;
  /* Bikin jadi lingkaran */
  border-top-color: #007bff;
  /* Warna aksen buat efek putar */
  animation: spin 1s linear infinite alternate;
  margin: auto;
  z-index: 99991;
  opacity: 1;
  transition: opacity 0.2s;
  box-shadow: 0 0 20px #007bff;
}

.container-spiner {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'GFBold', sans-serif;
  font-size: 10px;
  gap: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  100% {
    transform: rotate(-180deg);
  }
}